* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.nav-name {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;
    background-color: whitesmoke;
    background-image: linear-gradient(60deg, #3a3d41 0%, #181720 100%);
}

#welcome-section h1, h2{
    text-align: center;
    margin: 0.1em;
    color: rgb(9, 198, 255);
}

#welcome-section h1{
    color: rgb(255, 255, 255);
}

#welcome-section h2{
    color: rgb(9, 198, 255);
}


@media (max-width: 500px){

    .toggle-button {
        display: flex;
    }
    
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;       
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
